#data folder
params/
data/

#result folder
result/

#test code
echo_state_network/testcode.py

#ignore pyc, ~ or xml
*.pyc
*~
*.xml
*#

#ignore .idea folder
.idea/
*idea/
.idea/workspace.xml
.idea/tasks.xml
